.vs/
.idea/

Pak/
Binaries/
Build/
/Content/

DerivedDataCache/
Intermediate/
Platforms/

Plugins/*/Binaries/*
Plugins/*/Intermediate/*
Plugins/*/Content/*

Plugins/GameFeatures/ShooterCore/Binaries
Plugins/GameFeatures/ShooterCore/Intermediate

Plugins/GameFeatures/ShooterExplorer/*
Plugins/GameFeatures/ShooterMaps/*
Plugins/GameFeatures/ShooterTests/*
Plugins/GameFeatures/TopDownArena/*

Plugins/GameFeatures/DevelopLegend/Binaries
Plugins/GameFeatures/DevelopLegend/Intermediate

Saved/

*.sln